<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    <label for="titlefield">Title</title></label>
    <input type="text" id="titlefield" placeholder="Enter a title..." name="title"
    value="{{notesdata[1]}}" />

    <label for="contentField">Content:</label>
    <textarea id="contentField" class="content-field" placeholder="Write your content..."
    name="content" >{{notesdata[2]}}</textarea>
    <button class="btn">Submit</button>
</form>
</body>
</html>